@font-face {
    font-family: Poppins;
    src: url(../Fonts/Poppins/Poppins-Medium.ttf);
}

* {
    margin: 0;
    font-family: Poppins;
}

.nav {
    color: white;
    background-color: #0E90F2;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
}

.logo>img {
    width: 70px;
}

.list {
    margin: 0 auto;
}

.list>ul {
    height: 100%;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.link {
    padding: 20px;
    font-size: 25px;
}

.active:hover {
    color: #242526;
    background-color: #fff;
    transition: .3s;
}

.link:hover {
    color: #242526;
    background-color: #fff;
    transition: .3s;
}


/* .list>ul>li>a:hover,.list>ul>li:hover {
    color: #0E90F2;
    background: #fff;
} */

.link {
    color: white;
    text-decoration: none;
}

.active {
    background-color: #242526;
}

.names {
    margin-top: 15px;
    margin-left: 4%;
    color: #242526;
}

.names>ol {
    margin-top: 10px;
}

.names>ol>li {
    padding: 5px;
}

.names>ol>li>a {
    text-decoration: none;
    color: #0E90F2;
}

.twinkle {
    margin: 20px 4%;
    width: 40%;
    height: 700px;
    border: 2px solid #242526;
    box-shadow: 1px 2px 10px #242526;
    text-align: justify;
    padding: 10px;
    overflow: scroll;
}

.twinkle>h1 {
    text-align: center;
    margin: 10px 0px;
    color: #0E90F2;
}

.humpty {
    margin: 20px 4%;
    width: 40%;
    height: 700px;
    border: 2px solid #242526;
    box-shadow: 1px 2px 10px #242526;
    text-align: justify;
    padding: 10px;
    overflow: scroll;
}

.humpty>h1 {
    text-align: center;
    margin: 10px 0px;
    color: #0E90F2;
}

.images {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.images>img {
    width: 80%;
    /* padding: 10px; */
    /* height: 260px; */
}

.para {
    font-size: 25px;
    margin: 0 auto;
    width: 550px;
    text-align: center;
    line-height: 50px;
}

.poems {
    display: flex;
}

.footer {
    background-color: #242526;
    display: flex;
    color: white;
}

.left {
    width: 50%;
    padding: 30px 20px;
}

.right {
    width: 50%;
    padding: 30px 20px;
}

.second_col>a>img {
    color: white;
}

.first_col {
    margin: 20px;
}

.second_col>a>img {
    width: 40px;

}

.image {
    margin-top: 20px;
}

.image>a {
    margin-right: 20px;
}



.grey {
    color: grey;
    margin-top: 20px;
}

.first_col>a {
    color: #0E90F2;
    text-decoration: none;
}

.first_col>a:hover {
    color: white;
    transition: .3s;
}

.image>a>img:hover {
    transform: rotate(360deg);
    opacity: 0.7;
    transition: .2s;
}